@model IEnumerable<PizzaViewModel>
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<a class="btn btn-primary" asp-action="Create">
    Nuova Pizza
</a>

<div class="filter">
    <div class="row mb-3">
        <div class="col-4 text-end">
            <label for="FilterPrice" class="fw-bold">Filtro</label>
        </div>
        <div class="col-6">
            <input id="FilterPrice" name="FilterPrice" type="number" class="form-control" />
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" onclick="Search();">
                Cerca
            </button>
        </div>
    </div>
</div>

<div id="table-container">
    @{
        await Html.RenderPartialAsync("PizzaTable", Model);
    }
</div>



<script>
    function Search(){
        $.ajax({
            url: '/Menu/Search',
            type: 'GET',
            data: {
                filter: $('#FilterPrice').val()
            },
            dataType: 'html',
            success: (data) => {
                $('#table-container').html(data);
            }
        })
    }
</script>